:root {
    /* primary color */

    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* Gredient */

    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

    /* bold font-weight */

    --bold: 500;
    --extra_bold: 700;
    --max_bold: 800;
  }

  /*       *****   Formatting and giving some required properties    *****         */
  
  *{
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Hanken Grotesk, sans-serif;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    line-height: 1.2rem;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
  }

  /*   *****        First Section or First card      *****      */

  .report_card {
    display: flex;
    max-width: 39rem;
    box-shadow: 4px 15px 30px hsl(252, 100%, 67%, 0.3);
    border-radius: 1.5rem;
    background-color: var(--white);
    margin-inline: auto;
}

.result_card {
    display: grid;
    align-content: start;
    padding: 2.2rem 2.5rem;
    place-items: center;
    text-align: center;
    border-radius: 1.5rem;
    background-image: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    color: hsl(241, 100%, 89%);
    font-weight: var(--bold);
    width: 50%;
}

  .result_score {
    display: flex;
    flex-direction: column;
    line-height: 2.7rem;
    place-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background-image: linear-gradient(var(--Violet-blue), var(--Persian-blue));
  }
  
  .score {
    font-size: 3.5rem;
    margin-top: 1.5rem;
    color: var(--White);
    font-weight: var(--extra_bold);
  }

  .result_title {
    margin-top: 0.5rem;
    margin-bottom: 1.7rem;
    font-size: 1.125rem;
  }
  
  .result_text_group {
    margin-top: .68rem;
    display: grid;
    row-gap: 1.5rem;
  }
  
  .result_comment {
    margin-top: 1rem;
    color: var(--White);
    font-weight: var(--extra_bold);
  }

  /*   *****        Second Section or Second card      *****      */

  .summary {
    display: grid;
    align-content: start;
    padding: 2.5rem 2.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: var(--White);
    row-gap: 0.5rem;
    width: 50%;
    row-gap: 1rem;
  }

  .summary_row {
    display: grid;
    align-content: start;
    grid-template-columns: 0.4fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 0rem;
    border-radius: .31rem;
    font-size: 0.87rem;
  }
  
  img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .continue_button {
    background-color: hsl(224, 30%, 27%);
    padding: 1rem 0rem;
    border-radius: 1.5rem;
    border: none;
  }
  
  .continue_button>a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 1rem;
  }
  
  .continue_button:hover {
    background-image: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    cursor: pointer;
    
  }
  
  .summary_item_score {
    font-weight: var(--extra_bold);
  }
  
  #reaction {
    color: var(--Light-red);
    font-weight: var(--extra_bold);
  }
  
  #memory {
    color: var(--Orangey-yellow);
    font-weight: var(--extra_bold);
  }
  
  #verbal {
    color: var(--Green-teal);
    font-weight: var(--extra_bold);
  }
  
  #visual {
    color: var(--Dark-gray-blue);
    font-weight: var(--extra_bold);
  }
  
  #row-reaction {
    margin-top: 1rem;
    background-color: hsla(0, 100%, 67%, 0.06);
  }

  #row-memory {
    background-color: hsla(39, 100%, 56%, 0.06);
  }

  #row-verbal {
    background-color: hsla(166, 100%, 37%, 0.06);
  }

  #row-visual {
    background-color: hsla(234, 85%, 45%, 0.06);
  }

  /*      *****     Footer     *****        */

  .attribution {
    font-size: .69rem;
    text-align: center;
  }
  
  .attribution a {
    font-size: 0.89rem;
    color: hsla(245, 95%, 27%, 0.98);
    font-weight: var(--extra_bold);
  }

   /*          *****      For responsiveness *****           */

  @media (max-width: 39rem ) {

    body {
      height: 48rem;
      display: flex;
      flex-direction: column;
    }

    .report_card{
        flex-direction: column;
        place-items: center;
        box-shadow: none;
        border-radius: 0%;
      }
      
      .summary{
        width: 100%;
        border-radius: 0%;
      }

    .row{
      grid-template-columns: 0.4fr 2fr 1fr;
    }
    
    .result_card{
      width: auto;
    }

}